/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 5rem;
    background-color: #f8f9fa !important;
  }

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  @media (min-width: 768px){
  #exCollapsingNavbar2{
    display:block !important;
  }
}

@media (min-width: 768px){
  .desktop{
    display:block !important;
  }
}

@media (min-width: 768px)
{
.navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 1.3em;
    position: absolute;
    right:5em;
}
}

.route-container{
  margin-top: 25px;
}

.side-space15{
margin-right: 15px;
margin-left: 15px;
}

/**login **/
.login-div {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  width:100%;
  display: inline-block;
}


@media (min-width: 768px)
{
  .login-div {
    width:500px;
    displaY:block;
  }
}

.logo-hdr{
 background-color:  #343a40 !important
}

.btn-google{
  padding:0px !important;
  font-size:1.1em;
}

.div-google img{
  width:100%;
  cursor: pointer;
}

.btn-google span {
  vertical-align: middle;
}


.btn-facebook span {
  vertical-align: middle;
}

.profile-info{

}

.profile-info img {
  width: 50px;
  /* padding-left: 30px; */
  border-radius: 25px;
}

.btn-facebook{
  background-color: #4267b2;
  padding:0px !important;
  font-size:1.1em;
}

.btn-facebook img{
  float:left;
  width:39px;
}

/*** Styling for Routes **/

div.route-list .list-group-item:nth-child(even) {
 background-color: transparent;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 0;
  list-style: none;
  float: left;
}

agm-map {
  height: 55vh;
  width:100%;
}

.padding-5{
  padding:5px;
}

.loading-animation img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  margin-top: 20vh;
}

.route-item-data{
  display:inline-block;
  width:100%;
}

.route-item-name {
  width: 75%;
  padding: 0px;
  text-align: left;
}